@import "~antd/dist/antd.css";
.trigger {
  padding: 0 1.5rem;
  font-size: 170%;
  cursor: pointer;
  transition: color 0.3s;
}

.header {
  background-color: #87bce8;
}

.menu {
  background-color: #87bce8;
  color: #fff;
}

.toggle {
  background-color: #87bce8;
  color: #fff;
  padding: 0;
}

.img {
  width: 10rem;
  height: 2.5rem;
}
