@import "~antd/dist/antd.css";
.content {
    background: #f0f0f0;
    padding: 0 2rem 2rem;
}

.breadcrumb {
    margin: 1rem 0;
}

.background {
    background: #ffffff;
    padding: 2rem;
    min-height: 37rem;
}

.card {
    width: 13rem;
    height: 11rem;
    text-align: center;
    top: 10rem;
    border-radius: 1rem;
    left: 1rem;
}

.bigNumbers {
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    .dashboard {
        display: grid;
        align-items: center;
        margin-top: -9rem;
    }
    .card {
        width: 150px;
        height: 110px;
        margin-bottom: 20px;
        left: 54px;
        top: 10rem;
        transform: translate(-35%, -20%);
    }
    .bigNumbers {
        font-size: .9rem;
    }
    h4 {
        font-size: 1rem;
    }
}

@media screen and (min-device-width: 523px) and (max-device-width: 768px) {
    .dashboard {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .card {
        top: 16rem;
    }
    .background {
        min-height: 30rem;
    }
}

@media screen and (min-device-width: 888px) and (max-device-width: 1024px) {
    .dashboard {
        display: flex;
    }
    .card {
        width: 9rem;
        height: 9rem;
        text-align: center;
        top: 8rem;
        border-radius: 1rem;
        left: -0.1rem;
    }
    .background {
        min-height: 30rem;
    }
    .bigNumbers {
        font-size: 1.2rem;
    }
    h4 {
        font-size: 1.3rem;
    }
}