@import "~antd/dist/antd.css";
.pagelayout__content {
  padding: 0 1.5rem;
}

.pagelayout__footer {
  text-align: center;
  margin-top: 1rem;  
}

@media screen and (min-device-width: 320px) and (max-device-width: 514px) {
  .pagelayout__footer {
    /* margin-left:10rem ; */
    width: 19rem;
    position: relative;
    top: -1rem;
  }
}
