@import "~antd/dist/antd.css";

.userinfo{ 
    top: -0.813rem !important;
    left: 0.563rem!important;
}
.ant-dropdown-arrow{
  top: -0.5rem !important;
  left: 3.938rem !important;
}

/* .userinfo__item:hover {
  background-color: cadetblue;
  color: white;
} */
