@import "~antd/dist/antd.css";

.userinfo {
  margin-top: -0.188rem !important;
}

.userinfo__item {
  margin: 0 !important;
}

/* .userinfo__item:hover {
  background-color: cadetblue;
  color: white;
} */
