@import "~antd/dist/antd.css";
Sider {
  height: 100%;
  background-color: #87bce8;
}

.sidebar__menu {
  height: 100%;
  background-color: #87bce8;
}

.sidebar__item.workspace {
  background-color: white;  
  height: 3.125rem !important;
  margin-top: 1.25rem !important;
  font-family: "Franklin Gothic Medium";
  margin-bottom: 1.25rem !important;
}

.sidebar__item.image {
  margin: 0 !important;
  background-color: white;
  height: 3.688rem !important;
}

.ant-menu-item.ant-menu-item-active.ant-menu-item-selected.sidebar__item {
  background-color: white !important; /*Overriden property*/
  color: black;
}

.sidebar__item.navlink.active {
  color: black;
}

.sidebar__img {
  background-color: white;
  width: 10rem;
  height: 3rem;
}

.sidebar__img.hide {
  display: none;
}


